/* Background Image Media Queries */
body.login {
	background-image: url('/images/bg-login.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.login {
	background-image: url('/images/bg-login.jpg');
	}
}	
@media screen and (min-width: 960px){
	body.login {
	background-image: url('/images/bg-login.jpg');
	}
}	
@media screen and (min-width: 1200px){
	body.login {
	background-image: url('/images/bg-login.jpg');
	}
}	
@media screen and (min-width: 1600px){
	body.login {
	background-image: url('/images/bg-login.jpg');
	}
}