/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: /* url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_10.gif) center no-repeat, */ #fff;
}

form span.uk-form-danger {
	/*display:none!important;*/
}

.taxi-cont{
	background: url(/img/neu.png) 100% 0% no-repeat, url(/img/taxi_left_back.png) repeat-y, #ecf1f7!important;
}

.main-area {
	flex: 1 0 auto;
}

.uk-button,
.uk-navbar-nav>li>a,
.uk-nav-header{
	text-transform: unset;
}

.uk-table th{
	text-transform: unset!important;
}
.uk-table td{
	font-size: 14px;
}
.uk-border-radius-10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.uk-border-radius-20{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.uk-form-label{
	padding-bottom: 5px;
}

.uk-input, .uk-select, .uk-textarea{
	font-size: 14px!important;
	height: unset;
	padding: 14px;
}